{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<style>
  .color-choice {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .color-container {
    display: flex;
    justify-content: start;
    padding: 10px 0px;
  }
  .input-field {
    background-color: aliceblue;
  }
  .purple {background-color: blueviolet;}
  .red {background-color: red;}
  .blue {background-color: blue;}
  .green {background-color: green;}
  .pink {background-color: pink;}
  .yellow {background-color: yellow;}

  a {
    text-decoration: none;
    color: black;
  }
</style>



<h1>Profile Create Page</h1>

{{ user.username }}
<form action="" method="post" id="profile-form">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="color-container">
    <div class="red color-choice "><a onclick="M.toast({html: 'Red'})">Red</a></div>
    <div class="blue color-choice"><a onclick="M.toast({html: 'Blue'})">Blue</a></div>
    <div class="green color-choice"><a onclick="M.toast({html: 'Green'})">Green</a></div>
    <div class="yellow color-choice"><a onclick="M.toast({html: 'Yellow'})">Yellow</a></div>
    <div class="pink color-choice"><a onclick="M.toast({html: 'Pink'})">Pink</a></div>
    <div class="purple color-choice">  <a onclick="M.toast({html: 'Purple'})">Purple</a></div>
  </div>

  <input type="submit" value="Submit" class="btn {{user.profile.favorite_color}} lighten-3">
</form>

<script defer>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems, options);
  });

  const formElems = {
    form: document.getElementById('profile-form'),
    bio: document.getElementById('id_bio'),
    favorite_color: document.getElementById('id_favorite_color'),
    color_choices: document.querySelectorAll('.color-choice')
  }

  console.log(formElems.color_choices)
  for (color of formElems.color_choices) {
    color.addEventListener('click', (e) => {
      console.log(e.target.innerText)
      formElems.favorite_color.value = e.target.innerText.toLowerCase()
      console.log(formElems.favorite_color.value)
    })
  }

  console.log(formElems.favorite_color.value)
  formElems.favorite_color.readOnly = true;
  formElems.favorite_color.classList.add('input-field');

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems, options);
  });

</script>

{% endblock %}

