{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
    <div class="center">
        <h1>Hello {{ user.username }}</h1>
        <h3>Newest Products</h3>
        <li><a href="{% url 'inventory' %}">Inventory</a></li>
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
    </div>
{% else %}
    <div class="center">
        <h1>Hello Guest</h1>
        <h3>Newest Products</h3>
    </div>
{% endif %}

{% endblock %}