{% extends 'base.html' %}
{% block content %}

<h1 class='center'>{{ product.title }}</h1>

  <div class="card">
        <div class="card-content">
            {% for photo in product.photo_set.all %}
              <img class="right responsive-img green-text lighten-3" src="{{photo.url}}">
            {% empty %}
              <div class="right center-align green-text lighten-3">No Photos Uploaded</div>
            {% endfor %}
            <form action="{% url 'photo_products' product.id %}" enctype="multipart/form-data" method="POST" class="right">
              {% csrf_token %}
              <input type="file" name="photo-file">
              <br><br>
              <input type="submit" class="btn green lighten-3" value="Upload Photo">
            </form>
            <p>Description: {{ product.description }}</p>
            <p>Price: ${{ product.price }}</p>
            <p>Quantity: {{ product.quantity }}</p>
        </div>
        <div class="card-action">
            <a class="green-text lighten-3" href="{% url 'products_update' product.id %}">Edit</a>
        </div>
  </div>

{% endblock %}